.videobackground { 
  object-fit: cover;
  height: 100%;
  z-index: -1;
  width: 100%;
  bottom: 300px;
  right: 400px;
  position: fixed;
  transform: scale(0.5);  
  opacity: 0.9;  
}

.Logocustom {
  height: auto;
  position: absolute;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.button{
  color: rgb(255, 255, 255);
  position: relative;
  width: 350px; 
  height: 40px; 
  font-size: 20px; 
  top: 100px;
  border-radius: 20px;
  border: none;
  background-color: #000000;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  transition: box-shadow .2s ease-in-out;
  cursor: pointer;
}

.custom-div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}